
.nav ul { padding: 0; }
.nav li { display: inline; }

.flex_container {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	gap: 0 4px;
}

.infocard {	background-color: lightgrey; }
.infocard ul { padding: 0; list-style-type: none; }

