<!doctype html>
<html>
<head>
	<link rel="stylesheet"
		href="{{ url_for('static', filename='style.css') }}"
		type="text/css"
	/>
</head>
<body>

<h1>Gallery</h1>

<div class="nav">
	<ul>
		<li><a href="{{ url_for('default_routes.index') }}">Home</a></li>
		<li>/</li>
		<li>
			<a href="{{ url_for('default_routes.album', path=album) }}">
				{{ album }}
			</a>
		</li>
	</ul>
</div>

<div class="flex_container">
	{% for image in images %}
	<div class="infocard">
		<a href="{{ url_for('default_routes.image', path=album, img=image) }}">
			<img src="{{ url_for(
				'default_routes.thumbs',
				path=album,
				img=image)
			}}" />
		</a>
	</div>
	{% endfor %}
</div>

</body>
</html>
