<!doctype html>
<html>
<head>
	<link rel="stylesheet"
		href="{{ url_for('static', filename='style.css') }}"
		type="text/css"
	/>
</head>
<body>

<h1>Gallery</h1>

<div class="nav">
	<ul>
		<li><a href="{{ url_for('default_routes.index') }}">Home</a></li>
	</ul>
</div>

<h2>Albums</h2>
<div class="flex_container">
	{% for album in albums %}
	<div class="infocard">
		<a href="{{ url_for('default_routes.album', path=album.name) }}">
			{% if album.count > 0 %}
			<img src="{{ url_for(
				'default_routes.thumbs',
				path=album.name,
				img=album.image)
			}}" />
			{% else %}
				<img src="{{
					url_for('static', filename='default_image.png')
				}}" />
			{% endif %}
		</a>
		<ul>
			<li>{{ album.name }}</li>
			<li>items: {{ album.count }}</li>
		</ul>
	</div>
	{% endfor %}
</div>

</body>
</html>
